<div class="text-center py-2">
    <a class="main-link" href="{{ path('app_home') }}">
        <i class="fas fa-home"></i>
    </a>
</div>
<hr>
<div class="menu">
    <h4>Formateurs</h4>
    <ul class="list-unstyled ps-4">
        <li>
            {% include 'back/admin/common/_menu_link.html.twig' with
                {
                    'label': 'Les Formateurs',
                    'pagePath': path('app_admin_user_index')
                }
            %}
        </li>
        <li>
            {% include 'back/admin/common/_menu_link.html.twig' with
                {
                    'label': 'Ajouter un(e) formateur',
                    'pagePath': path('app_admin')
                }
            %}
        </li>
    </ul>
</div>

<hr>
<div class="menu">
    <h4>Modules</h4>
    <ul class="list-unstyled ps-4">
        <li>
            {% include 'back/admin/common/_menu_link.html.twig' with
                {
                    'label': 'Les Modules',
                    'pagePath': path('app_admin')
                }
            %}
        </li>
        <li>
            {% include 'back/admin/common/_menu_link.html.twig' with
                {
                    'label': 'Ajouter un module',
                    'pagePath': path('app_admin')
                }
            %}
        </li>
    </ul>
</div>

<hr>

<div class="menu">
    <h4>Sessions</h4>
    <ul class="list-unstyled ps-4">
        <li>
            {% include 'back/admin/common/_menu_link.html.twig' with
                {
                    'label': 'Les Sessions',
                    'pagePath': path('app_admin_user_index')
                }
            %}
        </li>
        <li>
            {% include 'back/admin/common/_menu_link.html.twig' with
                {
                    'label': 'Ajouter une session',
                    'pagePath': path('app_admin')
                }
            %}
        </li>
    </ul>
</div>

<hr>