{% extends 'back/base.html.twig' %}



{% block body %}
    <h1 class="text-dark-emphasis"><i class="fas fa-add btn btn-success "></i>Create new User</h1>
    <div class="d-flex my-4">
        <a href="{{ path('app_admin_user_index') }}" class="btn btn-outline-dark"><i class="fa fa-arrow-left "></i>back to list</a>

    </div>
    {{ include('back/admin/user/_form.html.twig') }}


{% endblock %}
