.admin-head{
  background-color: #505050;
}

.admin-menu {

  background-color: #363535;

  hr {
    margin-left: 1rem;
  }

  .menu {
    padding-left: 2em;

    a {
      text-decoration: none;
      color: $gray;

      &:hover {
        color: $orange;
      }

      &.menu-active {
        color: $orange;
        font-size: 1.2rem;
        text-decoration: underline;
      }
    }
  }
}