.btn-orange{
  background-color: $orange;
  color: $black;
  font-family: $heading-font;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  width:200px;
  cursor: pointer;
  display: inline-block;
  border-radius: 6px;

  transition: box-shadow .2s;
  overflow: hidden;
  pointer-events: auto;
  //text-transform: uppercase;
}

.btn-orange:hover{
  box-shadow: rgba(253, 80, 0, 0.5) 0 6px 16px;
  border: 1px solid $orange;
  color:$white;
}
.btns
{
  padding: 15rem 10rem;


}


