
.btn-gray{
  background-color: $gray !important;
  color: $black;
  font-family: $subtitle-font;
  text-align: center;
  width: 12rem;
  cursor: pointer;
  display: inline-block;
  border-radius: 20px;
  padding: 1rem 1rem;


}
.btn-gray:hover{
  background-color: $orange !important;
}
.btn-orange{
  background-color: $orange;
  color: $black;
  font-family: $heading-font;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  width:200px;
  cursor: pointer;
  display: inline-block;
  border-radius: 6px;

  transition: box-shadow .2s;
  overflow: hidden;
  pointer-events: auto;
  //text-transform: uppercase;
}

.btn-orange:hover{
  box-shadow: rgba(253, 80, 0, 0.5) 0 6px 16px;
  border: 1px solid $orange;
  color:$white;
}
.btns
{
  padding: 15rem 10rem;


}


/*btn-blue*/
.btn-blue{
  background-color: $main-background-color;
  color: $white;
  font-family: $heading-font;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  //width: 60%;

  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  transition: box-shadow .2s;
  overflow: hidden;
  pointer-events: auto;
}
.btn-orange:hover{
  box-shadow: rgba(255, 120, 0, ) 0 6px 16px;
  border: 1px solid $orange;
  color:$white;
}