#about {
  background-color: $gray-dark;
  margin-top: 2rem;
}

.text-gerant{
    text-align: center;
    width: 100%; /* Largeur de la div */
    padding-left: 16%;
    padding-top: 1rem;
  }

  .text-gerant p{
    color:$white;
    font-family: $text-font;
    font-size: 16px;

  }
.container.integration{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5rem;

}

.container.integration .card{
  position: relative;
  cursor: pointer;
  height: 31.25rem;

}

.container.integration .card .face{
  width: 300px;
  height: 199px;
  transition: 0.5s;
}

.container.integration .card .face.face1{
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container.integration .card:hover .face.face1{
  background: $orange;
  transform: translateY(0);
  border-radius: 5px;
}

.container.integration .card .face.face1 .content{
  opacity: 0.7;
  transition: 0.5s;
}

.container.integration .card:hover .face.face1 .content{
  opacity: 1;
}

.container.integration .card .face.face1 .content img{
  max-width: 100px;
}

.container.integration .card .face.face1 .content h3{
  margin: 10px 0 0;
  padding: 0;
  color:$white;
  text-align: center;
  font-size: 1.5em;
}

.container.integration .card .face.face2{
  position: relative;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2{
  transform: translateY(0);
}

.container .card .face.face2 .content p{
  margin: 0;
  //padding-top: 1rem;
  //padding: 1rem;
  font-size: 0.9em!important;
}

@media (max-width: 767px) {
  #about .text-gerant {
    flex-direction: column; /* Les éléments se superposent les uns sur les autres */
  }

  #about .card {
    width: 100% !important; /* Forcez l'application de la largeur à 100% sur les écrans plus petits */
    float: none !important;
    /* Autres styles spécifiques aux cartes mobile ici */
  }
}