$transition-time: 2.3s;

.card.catalogue {
  position: relative;
  height: 300px;
  width: 300px;
  margin: 10px 0;
  transition: ease all $transition-time;
  perspective: 600px;
  background-color: $gray-dark;

  &:hover {
    .cover {
      transform: rotateX(0deg) rotateY(-180deg);

      &:before {
        transform: translateZ(30px);
      }

      &:after {
        background-color: black;
      }

      h6 {
        transform: translateZ(100px);
      }



      a {
        transform: translateZ(-60px) rotateY(-180deg);
      }
    }
  }

  .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all $transition-time;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &:before {
      content: '';
      position: absolute;
      border: 5px solid rgba(255, 255, 255, 0.5);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      z-index: 2;
      transition: ease all $transition-time;
      transform-style: preserve-3d;
      transform: translateZ(0px);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      transition: ease all 1.3s;
      background: rgba(0, 0, 0, 0.4);
    }
  }
  .h-catalogue{
      font-weight: bold;
      position: absolute;
      bottom: 55px;
      left: 40px;
      color: white;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      z-index:3;
      font-size: 2em;
      transform: translateZ(0px);
      text-align: left;
    }


    .card-back {
      position: absolute;
      height:  25%;
      width: 100%;
      background: #0b0f08;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      transform: translateZ(-1px);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;

      a {
        transform-style: preserve-3d;
        transition: ease transform $transition-time, ease background 0.5s;
        transform: translateZ(-1px) rotateY(-180deg);
        background: transparent;
        border: 1px solid white;
        font-weight: 200;
        font-size: 1.2em;
        color: white;
        padding: 10px 32px;
        outline: none;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
          background-color: white;
          color: $black;
        }
      }
    }
  }

