.login-container {
  --border-width: 3px;
  max-width: 37.5rem;
  margin: auto;
  background-color: rgba(77, 77, 77, 0.5);
  padding: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: var(--border-width) solid transparent;
    box-sizing: border-box;
    border-radius: 10px;
    animation: moveBorder 3s alternate infinite;
  }
}

@keyframes moveBorder {
  50% {
    border-color: hsl(0, 0%, 100%);
  }
}
