{% extends 'front/base.html.twig' %}
{% block body %}
    <section id="about">
        <div class="text-gerant d-flex justify-content-between col-12">
            <h1 class="mx-5">Qui somme nous </h1>
            <p class="mx-5">
                <em>"Acteur de la formation depuis 2004, Alyf a déjà permis à plus de 20 000 professionnels de tous horizons de progresser dans le domaine de l'IT.<br>
                    Notre offre est basée sur les compétences et expériences de nos consultants acquises sur le terrain.<br>
                    Les cursus que nous construisons sont dispensés par des consultants ou des managers confirmés.Nous développons des parcours sur mesure tenant compte des contextes précis imposés par nos clients".</em>
                <br><br>
                <span style="font-weight: bolder; font-size: 16px;color: #FF9900;">Youssef Omari - Gérant</span>
            </p>

        </div>

        <div>
            <h2 class="pb-2">Découvrez aussi nos services d'intégration en détail</h2>
            <div class="container integration">
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <i class="fa-solid fa-briefcase"></i>
                            <h3>Infrastructure Service</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content pt-2">
                            <p>L’intégration d’infrastructures IT est au cœur de notre offre de services informatiques. Au fil des années, notre entreprise a bâti une véritable expertise dans ce domaine-clé.
                                Nous vous accompagnons ainsi dans vos projets d’intégration d’infrastructures informatiques complexes. </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content ">
                            <i class="fa-solid fa-lock"></i>

                            <h3>Cybersecurity Service</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content pt-2 ">
                            <p>La sécurité informatique est aujourd’hui une question brûlante et stratégique. Dans un monde où le digital règne, il est indispensable d’assurer la protection des données et des réseaux. Les risques encourus peuvent être importants en cas de failles internes ou d’attaques extérieures : perte de données, arrêt de l’activité, etc.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <i class="fa-solid fa-cloud "></i>
                            <h3>Cloud Service</h3>
                        </div>
                    </div>
                    <div class="face face2">
                        <div class="content pt-2">
                            <p>Les solutions Cloud d'Alyf sont conçues autour de nos clients et sont fournies sur la plateforme qui répond le mieux à leurs besoins. Que vous cherchiez à résoudre des problèmes, à développer une stratégie, à utiliser des services managés ou à moderniser et sécuriser davantage vos applications et votre infrastructure.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}