{% extends 'front/base.html.twig' %}

{% block title %}Alyf Pro{% endblock %}

   {% block leogout_seo %}
       <meta name="description" content="Bienvenue sur AlyfPro.fr, le site dédié aux formations informatiques. Découvrez nos services pour développer vos compétences en informatique.">
   {% endblock %}

{% block body %}
    {% include 'front/partial/_flashes.html.twig' %}
<section id="home">

    <div class="btns d-flex justify-content-between  col-12">
        <a class="btn btn-lg btn-orange custom-btn" href="#" role="button">Collaborateurs</a>
        <a class="btn btn-lg btn-orange custom-btn" href="#" role="button">Contact</a>
    </div>
</section>

{% endblock %}
