{% extends 'front/base.html.twig' %}

{% block title %}Alyf Pro{% endblock %}

   {% block leogout_seo %}
       <meta name="description" content="Bienvenue sur AlyfPro.fr, le site dédié aux formations informatiques. Découvrez nos services pour développer vos compétences en informatique.">
   {% endblock %}

{% block body %}

<section id="home-page">
<p>hi</p>
</section>
<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
{#    <ul>#}
{#        <li>Your controller at <code><a href="{{ 'C:/Users/HB/Desktop/alyfProject/alyfpro_project/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>#}
{#        <li>Your template at <code><a href="{{ 'C:/Users/HB/Desktop/alyfProject/alyfpro_project/templates/pages/pages.html.twig'|file_link(0) }}">templates/pages/pages.html.twig</a></code></li>#}
{#    </ul>#}
</div>
{% endblock %}
