{% extends 'front/base.html.twig' %}
{% block body %}
    <section id="services ">
        <div class="container">
            <div class="text-gerant">
                <h4>Besoin d’une société informatique sur Lyon et sa région ?</h4> <hr class="separator">
                <p>Alyf répond aux exigences des PME et ETI avec une expérience de plus de 20 ans.<br>
                    Nous vous accompagnons dans la maintenance, l’assistance aux utilisateurs, la sécurité et l’évolution de votre parc informatique grâce à un interlocuteur technique dédié, qui garantit un service réactif.
                    <br><br>
                    Notre entreprise de conseil informatique peut également vous accompagner sur des problématiques stratégiques telles que la sécurité des données et des réseaux, la gestion des données ou la gestion du parc informatique, l’infrastructure cloud, la virtualisation ou la mise en place d’outils performants.</p>
            </div>
        </div>
        <div class="carousel-container">
            <div id="carouselExampleCaptions" class="carousel slide " data-ride="carousel">
                <div class="carousel-indicators">
                    <button  type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>

                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active ">
                        <div class="circle-icon">
                            <i class="fas fa-id-card"></i>
                        </div>
                        <div class="carousel-caption d-md-block h-400">
                            <h5>Formation Intra entreprise</h5><br>
                            <p>La formation de votre choix, à la date de votre choix dispensée dans votre organisation pour vos collaborateurs. des dizaines de formations disponibles.</p>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="circle-icon">
                            <i class="fas fa-list-check"></i>
                        </div>
                        <div class="carousel-caption  d-md-block h-400">
                            <h5>Formation Inter Entreprise</h5> <br>
                            <p>Des formations métier, transverses ou sectorielles dispensées par Alyf pour répondre au besoins individuels de vos collaborateurs.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="circle-icon">
                            <i class="fas fa-certificate"></i>
                        </div>
                        <div class="carousel-caption  d-md-block h-400">
                            <h5>Formation sur-mesure</h5><br>
                            <p>Plusieurs entreprises font confiance chaque année à l'offre sur-mesure Alyf pour développer leurs talents et accompagner leurs transformations.</p>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="circle-icon">
                            <i class="fas fa-wheelchair"></i>
                        </div>
                        <div class="carousel-caption d-none d-md-block h-400">
                            <h5>Formation accesibilité aux personnes handicapées</h5><br>
                            <p>Développement d'une pédagogie spécifique pour les personnes en situation de handicap: contactez nous pour plus d'information.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev" >
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden" >Next</span>
                </button>
            </div>

        </div>
        <div class="pt-3">
            <a class="btn btn-lg btn-orange custom-btn" href="{{path('app_contact')}}" role="button">Contact</a>
        </div>

    </section>
{% endblock %}