{% extends 'front/base.html.twig' %}
{% block body %}
<section id="list">
    <div>
        <h3 class="pt-2 pb-3">Nos Formations</h3>
        <h4> {{ category.title }}</h4>
    </div>
{#    <div class="list-group">#}
{#        {% for pdf in pdfs  %}#}
{#        <a href="{{pdf.reference}}" class="list-group-item list-group-item-action">The current link item#}
{#        </a>#}
{#        {% endfor %}#}
{#    </div>#}
    <div class="container">
        <div class="list-group pt-5 pb-5">
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                The current link item
            </a>
            <a href="#" class="list-group-item list-group-item-action">A second link item</a>
            <a href="#" class="list-group-item list-group-item-action">A third link item</a>
            <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
        </div>
    </div>

    <button class="btn-back"  onclick="goBack()">Retour </button>

</section>
{% endblock %}