

footer {
  color:$white;
  font-family: $text-font;
  width: 100%;
  font-size: 12px;
  //padding-top: 1rem;
  padding-right: 0;
  padding-left: 0;

}

footer a {
  color: $white;
  text-decoration: none;
}
footer a:hover {
  color: $orange;
  text-decoration: underline;
}
.reglement{
  padding-top: 2rem;
  padding-left:1rem ;
}
.info{
  padding-top: 0.8rem;
  padding-right: 1rem;
}
.foot-light{
  padding-right: 0;

}
.footer-image{
  background-blend-mode: darken;

}
.foot-light{
  background-color: $gray;
  padding-right: 2rem;
padding-bottom: 1rem;
}