header {
  background-color: $main-background-color !important;


}
.logoimg{
  //width:8rem ;
  //height: auto;
  margin-left: 2rem;



}
.navbar-expand-lg{
  margin: 1px 0;

}
#navbarNav {
  margin-right: 5rem;
}
@media only screen and (max-width: 1023px) {
  #navbarNav {
    background-color:$gray-dark;
    margin-right: 0;
  }
}
#navbarNav ul li:not(:last-child) {
  margin-right: 30px;
}
#navbarNav ul li a {
  color: $white;

  font-size: 16px;
  font-family: $heading-font;
  font-weight: bold;
}

#navbarNav ul li a:hover{
  text-decoration-line: underline;
  color: $orange;
  transition: all 0.2s ease-in-out;


}
#navbarNav ul li a.active {
  color: $orange;
  font-weight: bolder;
}
#navbarNav ul li a:active {
  color: $orange;
  font-weight: bolder;
}


.container-fluid {
  margin-right: 0;
  margin-left: 0;
  margin-top: 0;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.navbar-toggler{
  background-color: $orange;
  border-color: $orange;
  color:$white
}

.separator-pipe{
  color:$white;
}
/* pour le navbar version mobile*/
.navbar-collapse .justify-content-end .collapse .show{
  background-color: $gray-dark;
}
.planning{
  background-color: $gray!important;
}