@import "../../shared/styles/main";
@import "../../shared/styles/main";
@import "../../shared/styles/main/variables";
@import "../../shared/styles/main";

@import "main/common/footer";
@import "main/common/header";
@import "main/pages/home";
@import "main/pages/about";