@import "../../shared/styles/main";
@import "../../shared/styles/main";
@import "../../shared/styles/main/variables";
@import "../../shared/styles/main";

@import "main/common/footer";
@import "main/common/header";
@import "main/pages/home";
@import "main/pages/about";
@import "main/pages/service";
@import "main/pages/references";
@import "main/pages/contact";
@import "main/pages/list";